<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="tematik.css">
    <script src="https://kit.fontawesome.com/bc6bf428b6.js" crossorigin="anonymous"></script>
    <title>Peta Tematik</title>
</head>

<body>
    <nav id="bg2" class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="index.html">VISUALISASI<br>SIMISCA BPS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link " href="#">Peta Tematik <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="#">Visualisasi</a>
                    <a class="nav-item nav-link" href="tabelDinamis.html">Tabel Dinamis</a>
                </div>
            </div>
        </div>
    </nav>
    <i class="fas fa-home home"></i><i class="fas fa-long-arrow-alt-right panah">
        <div class="head">Visualisasi</div>
    </i>
    <div></div>
    <div class="menu">

        <button class="tablink col-md-6 pegawai" onclick="openPage('Home', this, '#F4C58F')">Pegawai</button>
        <button class="tablink col-md-6 satker" onclick="openPage('News', this, '#072438')" id="defaultOpen">Satuan
            Kerja</button>

        <div id="Home" class="tabcontent">
            <div class="filter1">
                <p>Filter Wilayah</p>
            </div>
            <div class="form row satker2">
                <div class="form-group col-md-4 bar1">
                    <div class="label">
                        <label for="indeks" , style="color: #f4c58f;">Provinsi</label>
                    </div>
                    <select class="form-control" id="subjek">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group col-md-4 bar2">
                    <div class="label">
                        <label for="provinsi" , style="color: #f4c58f;">Kabupaten/Kota</label>
                    </div>
                    <select class="form-control" id="subjek">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div>
                    <p></p>
                </div>

            </div>
            <p class="ket">*Hasil Diseminasi PKL Polstat STIS</p>
        </div>

        <div id="News" class="tabcontent">
            <div class="filter">
                <p>Filter Sub Indeks dan Wilayah</p>
            </div>
            <div class="form row satker1">
                <div class="form-group col-md-4 bar1">
                    <div class="label">
                        <label for="indeks">Indeks</label>
                    </div>
                    <select class="form-control" id="subjek">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group col-md-4 bar2">
                    <div class="label">
                        <label for="provinsi">Provinsi</label>
                    </div>
                    <select class="form-control" id="subjek">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group col-md-4 bar3">
                    <div class="label">
                        <label for="kabkot">Kabupaten/Kota</label>
                    </div>
                    <select class="form-control" id="subjek">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="top">
    <div class="content row">
        <div class="pet col-md-9">
            <p>PETA</p>
            <div class="KetPeta">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor diam risus. Duis sit amet
                    turpis
                    nec odio posuere porta. Aliquam nec arcu dictum, faucibus justo ac, ultrices lacus. Praesent
                    vehicula
                    ornare turpis, iaculis luctus est consectetur in. Ut dui libero, volutpat at sem id, varius
                    ullamcorper
                    est. Nulla malesuada, magna ut rutrum ornare, nunc diam malesuada ex, ac laoreet ipsum arcu iaculis
                    erat. Duis leo orci, cursus non dapibus ut, venenatis eu quam. Integer ullamcorper justo ut lacus
                    ullamcorper, in gravida sem egestas. Aliquam sed odio volutpat, lobortis ipsum et, gravida augue.
                </p>
            </div>
        </div>

        <div class="stat col-md-2">
            <div class="label1">
                <p>Statistik Indeks Satker</p>
            </div>
            <div class="prov row">
                PROVINSI
            </div>
            <div class="kota row">
                KOTA
            </div>
            <div class="label1">
                <p>Statistik Kerentanan</p>
            </div>
            <div class="tertinggi row">
                <p>Sangat rentan</p>
                <p>Sangat tidak rentan</p>
            </div>
        </div>
    </div>
</div>

    </div>
    <div class="foot">
        <footer>©2021 Praktik Kerja Lapangan Politeknik Statistika STIS T.A. 2020/2021</footer>
    </div>

    <script>
        function openPage(pageName, elmnt, color) {
            // Hide all elements with class="tabcontent" by default */
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }

            // Show the specific tab content
            document.getElementById(pageName).style.display = "block";

            // Add the specific color to the    button used to open the tab content
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();


        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();


    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>